
<section class="card">
    <h3 class="card-header"><i class="fa fa-list-alt"></i>Add Inventory Item</h3>
    <div class="card-body">
        <div class="form-group">
            <label for="itemName">Item Name:</label>
            <input type="text" class="form-control" id="itemName" placeholder="">
        </div>
        <div class="form-group">
            <label for="sku">Sku:</label>
            <input type="text" class="form-control" id="sku" placeholder="">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" placeholder="$99.99">
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control militaryTime" id="category" placeholder="">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" placeholder="">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="text" class="form-control inputNumber" id="quantity" placeholder="">
        </div>
        <div class="form-group">
            <label for="expectedQuantity">Expected Quantity:</label>
            <input type="text" class="form-control" id="expectedQuantity" placeholder="100">
        </div>
        <div class="form-group">
            <label for="alertOnQuantity">Alert On Quantity:</label>
            <input type="text" class="form-control" id="alertOnQuantity" placeholder="">
        </div>
        <div class="form-group">
            <label for="waiteTimeOnOrderHours">Wait Time On Order Hours:</label>
            <input type="text" class="form-control" id="waiteTimeOnOrderHours" placeholder="">
        </div>
        <div class="form-group">
            <label for="expirationDate">Expiration Date:</label>
            <input type="text" class="form-control" id="expirationDate" placeholder="">
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>
            Submit</button>
        <button type="submit" id="updateBtn" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i>
            Update</button>
    </div>

</section>

<script type="text/javascript" src="/js/utilities/cleave.min.js"></script>
<script type="text/javascript" src="/js/formatting/itemInputForm.js"></script>
<script type="text/javascript" src="/js/addItemForm/submitForm.js"></script>
<script type="text/javascript" src="/js/addItemForm/events.js"></script>