<script type="text/javascript" src="/js/dashBoard/animationController.js"></script>
<div class="row">

    <div class="col-md-3">
        <h2>All inventory</h3>
        <p>Check on all inventory items here! </p>
        <p><a class="btn btn-outline-dark" role="button" href="/table/allItems" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Low Inventory</h3>
        <p>Check on low inventory items here! </p>
        <p><a class="btn btn-outline-dark" href="/table/lowItems" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>About to Expire</h3>
        <p>These items are about to expire! </p>
        <p><a class="btn btn-outline-dark" href="/table/lowItems" role="button" href="/table/expiredItems" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Add Item</h3>
        <p>Add an item to your inventory here!</p>
        <p><a class="btn btn-outline-dark" role="button" href="/addItems" role="button">View Details &raquo;</a></p>
    </div>
    <br>
    <br>
</div>