<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Dynamic Inventory System</h1>
      <p>This is a sleek, agile and effective inventory solution for your small business</p>.
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Go to DashBoard</a></p>
    </div>
  </div>
  <div class="container">
    <p>{{partialName}}</p>
    {{#if partialDashboard}}
    {{> dashboard}}
    {{/if}}
    {{#if addItems}}
    {{> addItems}}
    {{/if}}
  </div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/utilities/baseAPI.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/events.js"></script>