<script type="text/javascript" src="/js/utilities/baseAPI.js"></script>

<main role="main">
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated swing display-3">Dynamic Inventory System</h1>
      <p>This is a sleek, agile and effective inventory solution for your small business</p>.
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Go to DashBoard</a></p>
    </div>
    <p>{{partialName}}</p>
    {{#if partialDashboard}}
    {{> dashboard}}
    {{/if}}
    {{#if addItems}}
    {{> addItems}}
    {{/if}}
    {{#if lowItemTable}}
    {{> itemTable lowItems=true}}
    {{/if}}
    {{#if expiredItemTable}}
    {{> itemTable expiredItems=true}}
    {{/if}}
  </div>
</main>