<script type="text/javascript" src="/js/utilities/baseAPI.js"></script>

<main role="main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/ollivanders-hogsmeade/index.html">Olivanders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/addItems">Add</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/table/lowItems">Low</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/table/expiredItems">Expiring</a>
        </li>

      </ul>
    </div>
  </nav>

  <img src="/images/olivanders2.jpg" class="img-fluid" alt="Responsive image">

  <div class="container">
    <div class="jumbotron">
      <div class="jumbotron vertical-center">
        <div class="container text-center">
          <h1 id="title" class="display-3">Olivander's Inventory</h1>
          <h4>
            <p>For all your magical inventory needs. All houses of Hogwarts welcome!!</p>
          </h4>
          <br>
        </div>
      </div>
    </div>

    <p>{{partialName}}</p>
    {{#if partialDashboard}}
    {{> dashboard}}
    {{/if}}
    {{#if addItems}}
    {{> addItems this}}
    {{/if}}
    {{#if updateItems}}
    {{> addItems this}}
    {{/if}}
    {{#if lowItemTable}}
    {{> itemTable lowItems=true}}
    {{/if}}
    {{#if expiredItemTable}}
    {{> itemTable expiredItems=true}}
    {{/if}}
  </div>
</main>