<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Dynamic Inventory System</h1>
      <p>This is a sleek, agile and effective inventory solution for your small business</p>.
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Possibile Link to Other Info &raquo;</a></p>
    </div>
  </div>
  <div class="container">
    <p>{{partialName}}</p>
    {{#if partialDashboard}}
    {{> dashboard}}
    {{/if}}
  </div>
</main>